<!DOCTYPE html>
<html>
 
<head>
    <title>Fun With Random Numbers</title>
</head>
 
<body>
    <h2>What Type of Random Number Would You Like?</h2>

    <a href="/random/?low=1&high=10">
      <button>A Small Random Number</button>
    </a>
    <br><br>
    <a href="/random/?low=1000&high=2000">
      <button>A Big Random Number</button>
    </a>
    <br><br>
    <form action="/random" method="post">
      <label for="low">Minimum:</label>
      <input type="text" name="low"><br><br>
      <label for="high">Maximum:</label>
      <input type="text" name="high"><br><br>
      <input type="submit" value="Go">
    </form>
</body>
 
</html>
