<head>
    <link rel="stylesheet" href="/static/minesweeper.css">
    <script src="/static/minesweeper.js"></script>
</head>
  
<span class="one" onclick="display_coordinates_of_click(1, 1)">1</span><span class="one" onclick="display_coordinates_of_click(1, 2)">1</span><br>
<span class="one" onclick="display_coordinates_of_click(2, 1)">1</span><span class="one" onclick="display_coordinates_of_click(2, 2)">1</span><br>
<span id="coordinate_display">Display coordinates here</span><br>
<span id="incrementer_display">0</span>