<head>
    <link rel="stylesheet" href="/static/minesweeper.css">
    <script src="/static/minesweeper.js"></script>
</head>
  
<span class="blank" id="hello"> </span><span class="one" id="hello">1</span><span class="two" id="hello">2</span><span class="three" id="hello">3</span><span class="four" id="hello">4</span><span class="five" id="hello">5</span><span class="six" id="hello">6</span><span class="seven" id="hello">7</span><span class="eight" id="hello">8</span><span class="flag" id="hello">~</span>