.blank{
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
}
.zero{
    color: black;
    font-family: "Lucinda Console", "Courier New", monospace;
}
.one{
    color: blue;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
}
.two{
    color: green;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
}
.three{
    color: tomato;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
}
.four{
    color: darkblue;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
}
.five{
    color: maroon;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
}
.six{
    color: darkcyan;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
}
.seven{
    color: darkslategray;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
}
.eight{
    color: lightsteelblue;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
}
.flag{
    color: crimson;
    font-family: "Lucida Console", "Courier New", monospace;
}